<footer class="bg-[#191919] py-4 h-[125px] text-center w-full text-white">
  <p class="text-start ml-3">Follow us on:</p>
  <div class="flex gap-1 items-center text-[15px]">
    <a href="https://www.instagram.com/animeflare.free.nf" target="_blank" rel="noopener noreferrer">
      <div class="flex items-center">
        <img src="/images/insta.png" class="w-6 m-2" alt="Instagram">Instagram
      </div>
    </a>
    <a href="" target="_blank" rel="noopener noreferrer">
      <div class="flex items-center">
        <img src="/images/facebook.png" class="w-6 m-2" alt="FaceBook">FaceBook
      </div>
    </a>
  </div>
  <div class="w-full h-[2px] bg-zinc-700 my-2"></div>
    <p>&copy; <span id="curr-year"></span> Anime Flare. All rights reserved.</p>
  </footer>
<script>
  var currYear = document.getElementById('curr-year');

  const currentYear = new Date().getFullYear();
  currYear.innerHTML = currentYear;

</script>