<header class="sticky">
    <div class="header-content border-b-2 border-black gap-2 w-full bg-[#191919] text-white flex item-center drop-shadow-lg py-[12px]">
        <div class="flex items-center ml-2">
            <button style="display: flex; align-items: center;" class="active:bg-zinc-800 duration-200 rounded-[50%] w-[33px] h-[33px] justify-center">
                <span id="nav-open" class="flex item-center  duration-200"><span class=" material-symbols-outlined">
                    menu
                </span></span>
                <span id="nav-close" class="flex item-center duration-200"><span class=" material-symbols-outlined">
                    close
                    </span></span>
            </button>
        </div>
        <a href="/home"><div class="logo text-[22px] ml-1" title="Home"><img src="/images/Anime-cut.png" class="w-32" alt="Anime Flare logo"></div></a>
        <a href="/account/<%= user.username %>">
            <div class="proile-pic absolute right-3 top-4 rounded-full overflow-hidden w-8 h-8" title="Account">
                <% if (user.userPic) { %>
                    <img src="<%= user.userPic %>" onerror="this.src='/images/profile-img/<%= user.userPic %>'" alt="user Pic" class="w-8 h-8 rounded-full">
                  <% } else { %>
                    <img src="/images/user-icon.png" alt="Default Profile Image" class="w-8 h-8 rounded-full">
                  <% } %>

            </div>
        </a>
    </div>
</header>
