<nav id="nav" class="hidden">
    <div class="absolute left-0 text-white nav w-64 h-screen bg-zinc-900 flex flex-col p-5 gap-2 drop-shadow-lg" id="nav-div">
      <div class="active:bg-zinc-800 duration-200 rounded-[10px] p-2"><a href="/home" class="flex gap-2"><span class="material-symbols-outlined">
        home
        </span> Home</a></div>
      <div class="active:bg-zinc-800 duration-200 rounded-[10px] p-2"><a href="/about" class="flex gap-2 "><span class="material-symbols-outlined">
        supervisor_account
        </span> About us</a></div>
      <div class="active:bg-zinc-800 duration-200 rounded-[10px] p-2"><a href="/privacy-policy" class="flex gap-2 "><span class="material-symbols-outlined">
        privacy_tip
        </span> Privacy Policy</a></div>
      <div class="active:bg-zinc-800 duration-200 rounded-[10px] p-2"><a href="/home" class="flex gap-2 "><span class="material-symbols-outlined">
        help
        </span> Help <span class="italic text-[12px] text-zinc-500 flex items-center justify-end w-full">(currently unavailabe)</span></a></div>
    </div>
</nav>