<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" type="image/png" href="/images/20240402_165332.png">
    <title>Anime Flare</title>
</head>
<body>
    <div class="main-container bg-zinc-800 text-center">
        <p class="text-[20px] text-zinc-400 italic mb-8 mt-8">Your account has been Deleted</p>
        <a href="/login" class="bg-zinc-600 p-2 rounded-[8px] text-white mt-46">Back to the Login page</a>
    </div>      
</body>
</html>