<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" type="image/png" href="/images/20240402_165332.png">
  <title>Anime Flare</title>
</head>
<body id="body">
    <header class="sticky">
        <div class="header-content border-b-2 border-black gap-2 w-full bg-[#191919] text-white flex item-center drop-shadow-lg py-[12px]">
            <div class="flex item-center ml-2">
                <button style="display: flex; align-items: center;" class="active:bg-zinc-800 duration-200 rounded-[50%] w-[33px] h-[33px] justify-center">
                    <span id="nav-open" class="flex item-center  duration-200"><span class=" material-symbols-outlined">
                        menu
                    </span></span>
                    <span id="nav-close" class="flex item-center duration-200"><span class=" material-symbols-outlined">
                        close
                        </span></span>
                </button>
            </div>
            <a href="/home"><div class="logo text-[22px] ml-1" title="Home"><img src="/images/Anime-cut.png" class="w-32" alt="Anime Flare logo"></div></a>
            <a href="/check-loggedin">
                <div class="proile-pic absolute right-3"><img src="/images/user-icon.png" alt="" class="w-8"></div>
            </a>
        </div>
    </header>
    <main class="relative">
        <% include components/nav.ejs %>
        <div class="flex flex-col w-full bg-zinc-800 text-white p-4 overflow-scroll h-screen text-center">
            <div class="mt-40"><span class="material-symbols-outlined text-[70px] text-zinc-400">
                sentiment_very_dissatisfied
                </span></div>
            <h2 class="text-[20px] p-2 text-zinc-400 font-bold">Something went wrong</h2>
            <p class="text-zinc-400 mb-4">Please try again.</p>
            <div class="w-full flex justify-center">
                <a href="/home" class="p-1 bg-zinc-600 rounded-[8px] active:bg-zinc-700 w-full sm:w-64">Go Back</a>
            </div>            
        </div>
    </main>
    <div class="none">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
    </div>
    <% include components/footer.ejs %>
    <script src="/javascripts/script.js"></script>
</body>
</html>
