<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Welcome to Anime Flare - your gateway to the world of captivating anime content. Stream the latest episodes, explore diverse genres, and immerse yourself in the ultimate anime experience. Start your adventure today!">
  <link rel="canonical" href="https://www.animeflare.free.nf">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" type="image/png" href="/images/20240402_165332.png">
  <title>Anime Flare | Watch Anime and 3D Donghua Online For Free</title>
</head>
<body>
  <header class="sticky">
    <div class="header-content border-b-2 border-black gap-2 w-full bg-[#191919] text-white flex item-center drop-shadow-lg py-[12px]">
        <div class="flex items-center ml-2">
            <button style="display: flex; align-items: center;" class="active:bg-zinc-800 duration-200 rounded-[50%] w-[33px] h-[33px] justify-center">
                <span id="nav-open" class="flex item-center  duration-200"><span class=" material-symbols-outlined">
                    menu
                </span></span>
                <span id="nav-close" class="flex item-center duration-200"><span class=" material-symbols-outlined">
                    close
                    </span></span>
            </button>
        </div>
        <div class="logo text-[22px] ml-1" title="Home"><img src="/images/Anime-cut.png" class="w-32" alt="Anime Flare logo"></div>
        <a href="/login">
            <div class="proile-pic absolute right-3" title="Login"><img src="/images/user-icon.png" alt="" class="w-8"></div>
        </a>
    </div>
</header>

  <main>
    <div class="main-content bg-zinc-800 w-full h-screen">
      <div id="slider" class="sticky">
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/btth.jpg"><img class="slider-img h-screen" src="/images/intro-banner/btth.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/Jade-Dynasty-Season-2.jpg"><img class="slider-img h-screen" src="/images/intro-banner/Jade-Dynasty-Season-2.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/renegade.jpg"><img class="slider-im h-screen" src="/images/intro-banner/renegade.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/wu-dong-qiankun-4th-season-1.jpg"><img class="slider-img h-screen" src="/images/intro-banner/wu-dong-qiankun-4th-season-1.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/throne_of_seal.jpg"><img class="slider-img h-screen" src="/images/intro-banner/throne_of_seal.jpg"></a>
        <a class="slider-img bg-zinc-800" href="/images/intro-banner/soul-land-ii-the-peerless-tang-clan-1.jpg"><img class="slider-img h-screen" src="/images/intro-banner/soul-land-ii-the-peerless-tang-clan-1.jpg"></a>
      </div>
      <div class="div-block w-full h-screen bg-[#03030399] absolute text-white mt-[-1px] px-4 py-8">
        <div class="text-center">
          <h1 class="text-[25px] mt-[6rem] font-['Lucida Grande', Helvetica, Arial, sans-serif]">Watch  <span class="text-[#FF2525]"><b>Anime</b></span> and 3D  <span class="text-[#FF2525]"><b> Donghua</b></span> Online For <span class="text-[#FF2525]"><b>Free</b></span></h1>
          <div class="joinus-line"><p class="text-[32px] mt-6 text-white"><b><span class="text-blue-400">Join</span> us Now!</b></p>
          <button onclick="location.href='/login'" class="signin-btn bg-white text-black active:bg-black active:text-white duration-200 px-6 py-2 rounded-[50px] mt-6">Log in</button>
          <button onclick="location.href='/register'" class="signup-btn bg-black active:bg-white active:text-black duration-200 px-5 py-2 rounded-[50px] ml-2">Sign up</button>
          <p class="mt-2 text-[13px]">Please Login first then watch <span class="unlimited text-[#FF4545]"><b>Unlimited</b></span></p>
          <p class="mt-2 text-[13px]">Enjoy <span class="unlimited text-[#FF4545]"><b>Unlimited</b></span> access at no cost</p>
          </div>
        </div>
      </div>
      <% include components/nav.ejs %>
    </div>
  </main>

  <% include components/footer.ejs %>
  <script src="/javascripts/script.js"></script>
</body>
</html>